##############################################################################################################
# Configuration of backend, LDAP, and database (through docker-compose.yml)
##############################################################################################################

# IS_DEV is always true on a develop system! It must not be true on a production setup using the Docker image!
IS_DEV=True

# This is the URL that the application can be reached at
FULLY_QUALIFIED_DOMAIN_NAME=http://localhost:8080

# The log level of the backend application
LOG_LEVEL=INFO

##############################################################################################################
# Setup of API keys and secrets
# Except for the NVD_API_KEY the variables can be filled with random keys!
##############################################################################################################
# Your API key retrieved from https://nvd.nist.gov/developers/request-an-api-key
NVD_API_KEY="PUT YOUR API KEY HERE"
DJANGO_SECRET_KEY="SOME-RANDOM-KEY"
SALT="SOME-RANDOM-SALT"

##############################################################################################################
# Logging setup
##############################################################################################################

ANALYZER_LOG_LEVEL=DEBUG
WEBSERVER_LOG_LEVEL=DEBUG

##############################################################################################################
# Database setup
##############################################################################################################

POSTGRES_HOST=some.host
POSTGRES_USER=some-user
POSTGRES_DB=some-db-name
POSTGRES_PORT=5432
POSTGRES_PASSWORD="some-secure-password"

##############################################################################################################
# Users and credentials setup
# Choose one:
# (a) use an LDAP server -> fill in all variables with prefix "LDAP_" below
# (b) use a fixed set of users (one regular user and one administrator) -> leave LDAP_HOST empty and fill in
#     all variables with "USER_" and "ADMIN_" prefixes
##############################################################################################################

# Option (a): use LDAP server
LDAP_HOST="localhost:390"

# Bind DN for an admin user who has read access to all user and group entries
LDAP_ADMIN_DN="cn=admin,dc=acme,dc=de"

# Password of the admin user in plain text
LDAP_ADMIN_PASSWORD="Hello!"

# The base DN of the user entries (usually of class inetOrgPerson and shadowPassword)
LDAP_USER_BASE_DN="ou=People,dc=acme,dc=de"

# The search filter for retrieving a user by its mail address
LDAP_USER_SEARCH_FILTER="(&(objectClass=inetOrgPerson)(mail=VALUE))"

# The DN of the group containing the users with administration rights
LDAP_ADMIN_GROUP_DN="cn=secure-check-plus-admins,ou=groups,dc=acme,dc=de"

# The DN of the group containing the regular users
LDAP_BASE_GROUP_DN="cn=secure-check-plus-users,ou=groups,dc=acme,dc=de"

# These settings are only required for the local LDAP server created by the docker-compose file. They are not required
# for the production setup using an LDAP server.
LDAP_ORGANISATION="ACME"
LDAP_DOMAIN="acme.de"
LDAP_BASE_DN="dc=acme,dc=de"

# Option b) use a fixed set of users
USER_USERNAME=secure-user@acme.de
USER_PASSWORD=secure
ADMIN_USERNAME=secure-admin@acme.de
ADMIN_PASSWORD=secure

##############################################################################################################
# Variables below only required for local adapter call using script scripts/run-adapter-image.bash
##############################################################################################################
SERVER_URL="$FULLY_QUALIFIED_HOSTNAME"
REPORT_FILE_NAME="dependency-check-report.json"
FILE_FORMAT="json"
TOOL_NAME="owasp"
PROJECT_ID="some-project-id"
API_KEY="api-key-retrieved-from-frontend"
